<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="mageme_ga4_refund"
                  instance="MageMe\GA4\Observer\RefundObserver"/>
    </event>
</config>
